name: CI  finalization simulator

on:
  push:
    branches: [ master ]
    tags: '**'
  pull_request:
    branches: [ master ]
  workflow_dispatch:
  
permissions:
  contents: read

jobs:
  build:
    name: Run sbt tests
    runs-on: ubuntu-latest
    steps:
    - name: Clone Repository
      uses: actions/checkout@v3
      
    - name: Setup JDK
      uses: actions/setup-java@v2
      with:
        distribution: temurin
        java-version: 16
        
    - name: Run tests
      run: sbt -v +test
